.color-picker{
    label{
        width: 2.9rem;
    }
  
    .a{
        background: #e4e5f1;
    }
    .b{
        background: #f7c19b;
    }
    .c{
        background: #fffcb2;
    }
    .d{
        background: #dbffcd;
    }
    .e{
        background: #ffebad;
    }
    .f{
        background: #cbfff5;
    }
    .g{
        background: #ffcd83;
    }
    .h{
        background: #fdb6b6;
    }
    .i{
        background: #f0ffad;
    }
    .j{
        background: #d7c3f8;
    }
}
