<div class="container">
  <div class="wrapper">

    <div class="header">
      <h1>Login</h1>
    </div>
    <div class="content">
      <form nz-form #loginForm="ngForm" [formGroup]="loginFormData" (ngSubmit)="login()">
        <label>Email</label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Email">
            <input nz-input type="text" formControlName="email" placeholder="Email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label>Password</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your password!">
            <input nz-input type="password" formControlName="password" placeholder="Password"/>
          </nz-form-control>
        </nz-form-item>

        <div class="footer-btn">
          <button nz-button nzType="primary" type="submit">Login</button>
          <button nz-button nzType="primary" type="button" (click)="resetForm()">Cancel</button>
        </div>

        <div class="login-link">
          Not registered? &nbsp;<a [routerLink]="['/register']">Create an account!</a>
        </div>
      </form>
    </div>
  </div>
</div>